[submodule "aux/static"]
	path = aux/static
	url = git@github.com:bayesbuenosaires/static.git
[submodule "aux/tex"]
	path = aux/tex
	url = git@github.com:bayesbuenosaires/tex.git
[submodule "aux/biblio"]
	path = aux/biblio
	url = git@github.com:bayesbuenosaires/biblio.git
[submodule "software/variational-logisitic-regression"]
	path = 2020/software/variational-logisitic-regression
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/variational-logisitic-regression.git
