[submodule "biblio"]
	path = biblio
	url = git@github.com:glandfried/biblio.git
[submodule "tex"]
	path = tex
	url = git@github.com:glandfried/tex.git
[submodule "images"]
	path = images
	url = git@github.com:glandfried/images.git
